# Cisco NSO specific ignores

storedstate
logs/*.log
ncs-cdb/*.cdb
connections/
target/
*.fxs
*.jar

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
